# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
dist/
build/
*.spec.bak
venv/
.venv/

# 数据库
*.db
*.sqlite3

# PyInstaller
dist/
build/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store
desktop.ini

# 环境变量
.env
*.env
.claude/
